*{
    font: 14px "Sergoe UI";
    color: #404040;
    line-height: 20px;
}
/*div{border: 2px dotted blue;}*/

html, body{height: 98%;}
.container{
    min-width: 80em;
    height: 100%;
}

    /* General Bloks with content  */
.left{
    background-color: #BCBCBC;
    padding: 1em;
    float: left;
    width: 22em;
    height: 100.5%;
    margin-top: -0.65em;
    margin-left: -0.65em;
}
.right{
    padding: 1em;
    float: left;
    width: 50em;
    height: 75%;
    margin-left: 3em;
}

    /* Content For left Panel */
#ParentForContent{
    padding: 0em;
    width: 18em;
    height: 34em;
    margin-top: 1.5em;
    margin-left: 1.2em;
}

.multButton{
  display: inline-block;
  color: white;
  text-decoration: none;
  padding: .5em 1.68em;
  outline: none;
  border: 2px solid #225F31;
  border-radius: 6px;
  background: #4AA81C;
  transition: 0.2s;
}
.multButton:after{
    content: '';
    display: block;
    position: absolute;
    top: 22.3px;
    left: 13.804em;
    width: 0;
    height: 0;
    border-color: transparent transparent transparent #4AA81C;
    border-style: solid;
    border-width: 1.23em;
    margin-top: 0.97em;
}
.multButton:before {
    content: '';
    display: block;
    position: absolute;
    top: 8.95px;
    left: 13.89em;
    width: 0;
    height: 0;
    border-color: transparent transparent transparent #225F31;
    border-style: solid;
    border-width: 1.33em;
    margin-top: 1.83em;
}
.multButton:hover{cursor: pointer;}
.button{
    border: 2px solid rgba(217,217,217, .5);
    border-bottom: 2px solid rgba(178,178,178, .5);
    border-radius: 3px;
    background: linear-gradient(#FDFDFD, #d9dddd) #ECECEC;
    -webkit-background-clip: padding-box; /* for Safari */
    background-clip: padding-box;
}
.button:focus{
outline-color: #5199DB;
outline-width: 2px;
}
.button:hover{
    cursor: pointer;
    background: linear-gradient(#F2F2F2, #DFDFDF) #DFDFDF;
}
.button:active{
    border: 2px solid #D9D9D9;
    border-bottom: 2px solid #B2B2B2;
    border-radius: 3px;
    background: #D9D9D9;
    outline: 0;
}
.clearMatrix{ 
  width: 9.5em;
  height: 1em;
  padding: .5em;
  text-decoration: none;
  margin-top: 15em;
  
}
.switchMatrix{
  width: 13.15em;
  height: 1em;
  padding: .5em;
  text-decoration: none;
  margin-top: 0.8em;
}
.radioButton{
    margin-top: 5em;
}
.radioButton input{
     width: 1.3em;
    height: 1.2em;
}
.addButton, .remButton{
  display: inline-block;
  width: 5.5em;
  height: 1em;
  padding: 0.6em;
  padding-top: 0.3em;
  padding-right: 0.5em;
  text-decoration: none;
  margin-top: 0.9em;
    text-align: center;
    outline-width: 20px;
    
}
.addButton span, .remButton span{
    font-weight: bold;
}
#errBlock {
    width: 16.8em;
    height: 9em;
    margin-top: 2.3em;
    margin-left: 0.6em;
    padding: 1em;
    padding-top: 0.01em;
}
.errBlock p{
    display: none;
    color: #DA0902;
    overflow-wrap: break-word;
}
/* Content For right Panel */

/* Matrix with solution */
.solutionMatrix{
  float: left;
  position: relative;
  margin: 0 30px 25px 0;
  padding: 2px 4px;
  border-left: 2px solid #404040;
  border-right: 2px solid #404040;
  display: inline-block;
}

.solMatBorder:before,
.solMatBorder:after,
.solMatTableBorder:before,
.solMatTableBorder:after {
  position: absolute;
  display: block;
  width: 8px;
  height: 2px;
  background: #444;
  content: '';
}
  
.solMatBorder:before { top: 0; left: 0; }
.solMatBorder:after { top: 0; right: 0; }
.solMatTableBorder:before { bottom: 0; left: 0; }
.solMatTableBorder:after { bottom: 0; right: 0; }

 /* Second Matrix ( A )*/
.aMatrix{
  float: left;
  position: relative;
  margin: 0 30px 25px 0;
  padding: 2px 4px;
  border-left: 2px solid #404040;
  border-right: 2px solid #404040;
  display: inline-block;
}

.aMatBorder:before,
.aMatBorder:after,
.aMatTableBorder:before,
.aMatTableBorder:after {
  position: absolute;
  display: block;
  width: 8px;
  height: 2px;
  background: #444;
  content: '';
}
  
.aMatBorder:before { top: 0; left: 0; }
.aMatBorder:after { top: 0; right: 0; }
.aMatTableBorder:before { bottom: 0; left: 0; }
.aMatTableBorder:after { bottom: 0; right: 0; }

.matInput{
  width: 50px;
    font-size: 20px;
    margin: 0.09em;
    margin-top: 0.2em;
    padding: 20px 0 5px 5px;
}
.matInput:focus{
outline-style: solid;
outline-width: 3px;
}
#nameMatA{
    float: left;
    position: relative;
    margin-top: 6.5em;
    height:4em;
}
#nameMatA h6{
        margin-top: 0.4em;
        font-size: 4em;
        text-align:center;
        font-family: monospace;
}
/* Third Matrix */

.bMatrix{
  float:left;
  position: relative;
  margin: 0 30px 25px 0;
  padding: 2px 4px;
  border-left: 2px solid #404040;
  border-right: 2px solid #404040;
  display: inline-block;
    margin-top: 3em;
    clear:both;
}

.bMatBorder:before,
.bMatBorder:after,
.bMatTableBorder:before,
.bMatTableBorder:after {
  position: absolute;
  display: block;
  width: 8px;
  height: 2px;
  background: #444;
  content: '';
}
  
.bMatBorder:before { top: 0; left: 0; }
.bMatBorder:after { top: 0; right: 0; }
.bMatTableBorder:before { bottom: 0; left: 0; }
.bMatTableBorder:after { bottom: 0; right: 0; }

#nameMatB{
    float: left;
    position: relative;
    left: 7em;
    height:4em;
    clear: both;
    
}
#nameMatB h6{
        margin-top: 0.4em;
        font-size: 4em;
        text-align:center;
        font-family: monospace;
}
#valueError{
    position: absolute;
    top: 0em;
    left: 15em;
    display: none;
    width: 9em;
    padding: 0.5em;
    font-weight: 600;
    color: firebrick;
    text-align: center;
    border-radius: 20px;
    background-color: #F6C1C0;
}
#errBlock p{
    display: none;
    color: #DA0902;
}